# api/.dockerignore

# Игнорируем зависимости, их устанавливает Docker
node_modules

# Игнорируем директорию сборки
dist

# Игнорируем временные файлы npm
npm-debug.log

# ИГНОРИРУЕМ ПАПКУ С AI-МОДУЛЕМ, ЧТОБЫ ОНА НЕ ПОПАЛА В СБОРКУ
src/ai