# Example environment variables for the API

# Port for the API server
PORT=3000

# Connection string for the PostgreSQL database
DATABASE_URL="postgresql://user:password@localhost:5432/mydatabase?schema=public"

JWT_SECRET="YOUR_SUPER_SECRET_JWT_KEY_PLEASE_CHANGE_ME"